.level1 {
  font-size: 2em; /* 16 * 2 = 32px */
}

.level2 {
  font-size: 2em; /* 32 * 2 = 64px */
}

.level3 {
  font-size: 2em; /* 128px */
}

.level4 {
  font-size: 2em;
}

/*
복잡한 구조에 em을 사용하면 폰트 크기를 즉각적으로 계산하기 어렵다.
*/
