body {
    background-color: black;
}

.line {
    position: absolute;
    background-color: #fff;
}
/* div 태그의 사이즈를 지정하지 않았기 때문에  .line 요소들이 보이지 않는다.*/

.horizontal {
    width: 100%;
    height: 1px;
    top: 50%;
}

.vertical {
    width: 1px;
    height: 100%;
    left: 50%;
}

.target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 이미지 중간이 정중앙에 오도록 설정함 */
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 38px;
    transform: translate(20px, 20px);
}
