body {
    background-color: black;
    margin: 0; /* 기본 마진때문에 이미지가 약간 벗어나 있음 */
}

.line {
    position: absolute;
    background-color: #fff;
}
/* div 태그의 사이즈를 지정하지 않았기 때문에  .line 요소들이 보이지 않는다.*/

.horizontal {
    width: 100%;
    height: 1px;
}

.vertical {
    width: 1px;
    height: 100%;
}

.target {
    position: absolute;
    transform: translate(-50%, -50%); /* 이미지 중간이 정중앙에 오도록 설정함 */
}

.tag {
    position: absolute;
    color: #fff;
    font-size: 38px;
    margin: 20px; /* target과 tag 떨어뜨리기 */
}
